.footer {
  background-color: #333;
  color: #f7f7f7;
  padding: 40px 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer .footer-section {
  flex: 1;
  min-width: 250px;
  margin: 10px;
}

.footer .footer-section h3 {
  margin-bottom: 20px;
  font-size: 18px; /* Ensure font size is appropriate */
}

.footer .footer-section a {
  color: #f7f7f7;
  text-decoration: none;
  display: block;
  margin-bottom: 10px;
  font-size: 14px; /* Ensure font size is appropriate */
}

.footer .footer-section a:hover {
  text-decoration: underline;
}

.footer .social-icons a {
  font-size: 24px;
  margin-right: 10px;
}

.footer .social-icons a:hover {
  color: #5d9a4c;
}

/* Dark Theme */
.dark-theme footer {
  background-color: #1a1a1a;  /* Change background color to match the screenshot */
  color: #ffffff;  /* Change text color to white */
}

.dark-theme footer a {
  color: #ffffff;
}

.dark-theme footer h3 {
  color: #84f78f;
}

.dark-theme footer p {
  color: #ffffff;
}

@media (max-width: 768px) {
  .footer {
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding-bottom: 200px; /* Add padding to avoid overlap with mobile navbar */
  }
  .footer .footer-section {
      width: 100%;
      margin: 20px 0;
  }
}
