.forget-password-container {
    max-width: 400px;
    margin: 150px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    transition: transform 0.3s ease-in-out;
}

.forget-password-container:hover {
    transform: scale(1.05);
}

.forget-password-container h1 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
    background: linear-gradient(to right, #32cd32, #008000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.forget-password-container label {
    font-size: 16px;
    font-weight: 500;
}

.forget-password-container input[type="email"],
.forget-password-container input[type="password"],
.forget-password-container input[type="tel"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s ease-in-out;
}

.forget-password-container input[type="email"]:focus,
.forget-password-container input[type="password"]:focus,
.forget-password-container input[type="tel"]:focus {
    border-color: #32cd32;
}



.forget-password-container button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 50px; /* Elliptical shape */
    cursor: pointer;
    margin-bottom: 1rem;
    
}

.forget-password-container button:hover {
    background-color: #45a049;
}

.forget-password-container a {
    color: #007BFF;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.forget-password-container a:hover {
    text-decoration: underline;
    color: #0056b3;
}


.dark-theme {
    background-color: #333;
    color: #f4f4f4;
    transition: background-color 0.5s ease-in-out;
}

.dark-theme .forget-password-container,
.dark-theme footer {
    background-color: #444;
    border-color: #555;
}

.dark-theme .forget-password-container input[type="email"],
.dark-theme .forget-password-container input[type="password"],
.dark-theme .forget-password-container input[type="tel"] {
    background-color: #555;
    color: #ddd;
    border-color: #666;
}

.dark-theme .forget-password-container button {
    background-color: #666;
}

.dark-theme .forget-password-container a {
    color: #bbdefb;
}

.dark-theme .forget-password-container button:hover {
    background-color: #62b457;
}

.dark-theme .forget-password-container a:hover {
    color: #82b1ff;
}
.dark-theme .forget-password-container button {
    background-color: #4CAF50;
}