<!-- footer.ejs -->
<footer class="bg-gray-200 text-gray-800 px-20 py-16 w-full border-t-4 border-gray-400">
    <div class="max-w-screen-xl mx-auto flex justify-between items-start">
        <div class="space-y-8 w-1/4">
            <a href="#"><img src="img/icon.png" alt="Travel logo with a globe and airplane silhouette" class="w-48"></a>
            <a href="#" class="text-base text-gray-600">Lorem ipsum is simply dummy text for industry</a>
            <div>
                <a href="#" class="font-bold text-base text-gray-800">Call for info:</a>
                <a href="#" class="text-base text-gray-800">+03 80 902 399</a>
            </div>
        </div>
        <div class="space-y-4 w-1/4">
            <h3 class="font-bold text-xl text-gray-800">Company</h3>
            <a href="#" class="text-base text-gray-800 block">&gt; About Us</a>
            <a href="#" class="text-base text-gray-800 block">&gt; Company</a>
            <a href="#" class="text-base text-gray-800 block">&gt; Press & Blog</a>
            <a href="#" class="text-base text-gray-800 block">&gt; Privacy Policy</a>
        </div>
        <div class="space-y-4 w-1/4">
            <h3 class="font-bold text-xl text-gray-800">Quick Link</h3>
            <a href="#" class="text-base text-gray-800 block">&gt; Press Centre</a>
            <a href="#" class="text-base text-gray-800 block">&gt; Travel Centre</a>
            <a href="#" class="text-base text-gray-800 block">&gt; About Us</a>
            <a href="#" class="text-base text-gray-800 block">&gt; Privacy Policy</a>
        </div>
        <div class="space-y-4 w-1/4">
            <h3 class="font-bold text-xl text-gray-800">From Twitter</h3>
            <a href="#" class="text-base text-gray-800 block">@twitter feeds</a>
            <a href="#" class="text-base text-gray-800 block">@twitter feeds</a>
        </div>
    </div>
</footer>
