<!-- navbar.ejs -->
<div class="navbar">
    <div class="section left">
        <a href="index.html">
            <div class="logo-container">
                <img src="img/icon.png" alt="Travel logo">
                <span>Travel</span>
            </div>
        </a>
    </div>

    <div class="section middle">
        <a href="index.html" class="active">Home</a>
        <a href="about.html">About</a>
        <a href="overview.html">Tours</a>
        <a href="contact.html">Contact</a>
    </div>

    <div class="section right">
        <a href="favourites.html" class="favorites">
            <i class="fas fa-heart text-yellow-500"></i> Favourites
        </a>
        <i class="fas fa-sun text-yellow-500 theme-toggle"></i>
        <a href="signup.html" class="sign-up">Sign Up</a>
        <a href="login.html" class="log-in">Log In</a>
    </div>            
</div>
