<!-- navbar.ejs -->
<div class="navbar">
    <div class="section left">
      <a href="index.html">
        <div class="logo-container">
          <img src="img/icon.png" alt="Travel logo">
          <span>Travel</span>
        </div>
      </a>
    </div>

    <div class="section middle">
      <a href="index.html" class="active">Home</a>
      <a href="about.html">About</a>
      <a href="overview.html">Tours</a>
      <a href="contact.html">Contact</a>
    </div>

    <div class="section right">
      <a href="user_favourites.html" class="favorites">
        <i class="fas fa-heart text-yellow-500"></i> Favourites
      </a>
      <i class="fas fa-sun text-yellow-500 theme-toggle"></i>
      <a href="signup.html" class="sign-up">Sign Up</a>
      <a href="login.html" class="log-in">Log In</a>
    </div>            
  </div>

  <!-- Mobile Navbar -->
  <div class="mobile-navbar bg-white border-t border-black fixed bottom-0 w-full z-50">
    <div class="flex justify-around py-4">
      <a href="index.html" class="flex flex-col items-center">
        <i class="fas fa-home text-2xl"></i>
        <span class="mt-2 text-sm">Home</span>
      </a>
      <a href="overview.html" class="flex flex-col items-center">
        <i class="fas fa-suitcase text-2xl"></i>
        <span class="mt-2 text-sm">Tours</span>
      </a>
      <a href="user_favourites.html" class="flex flex-col items-center">
        <i class="fas fa-star text-2xl"></i>
        <span class="mt-2 text-sm">Favourites</span>
      </a>
      <a href="user_profile.html" class="flex flex-col items-center">
        <i class="fas fa-user text-2xl"></i>
        <span class="mt-2 text-sm">Profile</span>
      </a>
    </div>
  </div>